annotated-types==0.7.0
cellpose==4.2.1.1
click==8.4.2
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
dask==2026.7.0
et_xmlfile==2.0.0
fastremap==1.20.0
filelock==3.29.0
fill_voids==2.1.2
fonttools==4.63.0
fsspec==2026.4.0
imagecodecs==2026.6.26
ImageIO==2.37.3
Jinja2==3.1.6
kiwisolver==1.5.0
lazy-loader==0.5
llvmlite==0.48.0
locket==1.0.0
MarkupSafe==3.0.3
matplotlib==3.11.0
mpmath==1.3.0
natsort==8.4.0
nd2==0.11.3
networkx==3.6.1
numba==0.66.0
numpy==2.4.6
ome-types==0.6.3
opencv-python-headless==5.0.0.93
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
partd==1.4.2
pillow==12.3.0
pip==26.1.2
precision-myotube==0.1.0
pydantic-extra-types==2.11.1
pydantic==2.13.4
pydantic_core==2.46.4
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
resource-backed-dask-array==0.1.0
roifile==2026.2.10
scikit-image==0.26.0
scipy==1.18.0
segment-anything==1.0
setuptools==78.1.0
six==1.17.0
skan==0.13.1
sympy==1.14.0
tifffile==2026.6.1
toolz==1.1.0
torch==2.11.0+cu128
torchvision==0.26.0+cu128
tqdm==4.68.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.3
xsdata==26.2
